:root {
    --text-color: #fff;
    --accent-color: #1c6db1;
    --border-color: #000;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #000;
    background-color: #ffffff;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    max-height: 600px;
    margin: auto;
    padding: 5px;
}

.player-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.player-list__list {
    flex-basis: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.player-list__item:not(:last-child) {
    margin-bottom: 15px;
}

.player-list__item-link {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    text-decoration: none;
    color: #000;
    border: 1px dotted #000;
    border-radius: 5px;
}

.player-list__item-link--selected {
    color: var(--accent-color);
    border-color: var(--accent-color);
    border-style: solid;
}

.player-list__item-link::before {
    content: "";
    position: static;
    flex-shrink: 0;
    display: block;
    width: 35px;
    height: 35px;
    margin-right: 15px;
    background-image: url("../img/icon-play.svg");
    background-position: 10px center;
    background-size: 15px auto;
    background-repeat: no-repeat;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
}

.player-list__item-link--selected::before {
    background-image: url("../img/icon-headphones.svg");
    background-position: center;
    background-size: 18px auto;
}

.controls {
    flex-shrink: 0;
    flex-basis: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.controls__text-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 30px;
    overflow: hidden;
}

.controls__text-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 25px #fff;
    z-index: 1;
}

.controls__text {
    position: relative;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.controls__text--running {
    animation-name: runningText;
    animation-direction: alternate;
}

/*@keyframes runningText {*/
/*    0% {*/
/*        font-size: 12px;*/
/*    }*/

/*    100% {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

.controls__audio {
    flex-basis: calc(33.3333% - 5px);
    width: 100%;
}

.controls__form {
    flex-basis: calc(33.3333% - 5px);
    display: flex;
    justify-content: center;
    width: 100%;
}

.controls__input {
    flex-grow: 1;
    width: 100%;
    padding: 3px 5px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--border-color);
}

.controls__input:focus {
    box-shadow: 0 4px 10px rgba(0,0,0,.1);
    border-color: var(--border-color);
    outline: none;
}

.controls__input::placeholder {
    font-size: 12px;
    opacity: 0.2;
}

.controls__reset,
.controls__reset:active {
    margin-left: 5px;
    padding: 10px 15px;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--accent-color);
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid var(--border-color);
}
